<html ng-app="workoutApp" class="ng-cloak">
	<head>
		<title>Workout tracker</title> 
	   <style>
			[ng\:cloak], [ng-cloak], .ng-cloak {
			  display: none;
			}
		</style>
	</head>
	<body bgcolor="white" >
		<div>
			<button ng-click="logout()">Logout</button>
		</div>
		<ng-view />
	    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
    	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-route.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-resource.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-cookies.js"></script>
 		<script src="javascripts/workoutApp.js"></script>
		<script src="javascripts/controllers/mainController.js"></script>
		<script src="javascripts/controllers/exerciseController.js"></script>
		<script src="javascripts/controllers/routineController.js"></script>
		<script src="javascripts/controllers/workoutController.js"></script>
	</body>
</html>
